<%- include('../partials/header') %>
<div class="main-margin">
    <h2>Add Item</h2>
    <nav class="sub-nav">
        <ul class="no-bullets">
            <li><a href="/inventory">Back to Inventory</a></li>
        </ul>
    </nav>
    <div class="line"></div>

    <form action="/inventory" method="POST" class="inventory-form">
        <div class="name-container">
            <label class="name-label" for="productName">Item Name:</label>
            <input type="text" name="productName" required>
        </div>

        <div class="sku-container">
            <label for="sku" class="sku-label">SKU:</label>
            <input type="text" name="sku" placeholder="e.g. RAW-FOOD-NAME">
        </div>

        <div class="qty-container">
            <label for="quantityAvailable" class="qty-label">Initial Quantity:</label>
            <input type="number" step="0.0001" name="quantityAvailable" placeholder="(kg/L)">
        </div>

        <button type="submit" class="btn-green">Add Product</button>
    </form>

    <%- include('../partials/footer') %>