/* || Custom properties */
:root {
    --dark-pine-green: #182d32;
    --forest-edge: #617c6f;
    --sweet-mint-tea: #d4e5cf;
    --water: #d2f3fc;
    --roasted-sienna: #e87e5e;
    --white-desert: #fdfaf3;
    --dm-serif-dislay: 'DM Serif Display', serif;
    --dm-sans: 'DM Sans', sans-serif;
}

/* || General styles */
* {
    box-sizing: border-box;
}

body {
    background-color: var(--white-desert);
    font-family: var(--dm-sans);
    margin: 0 auto;
    height: 100%;
}

main {
    padding: 0 30px;
    max-width: 1560px;
}

.page-container {
    position: relative;
    min-height: 100vh;
}

.content-wrap {
    padding-bottom: 175px;
}

h1 {
    font-size: 42px;
}

p {
    font-size: 12px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th,
table td {
    border: none;
    border-bottom: 1px solid lightgrey;
    padding: 8px;
}

input,
select {
    font-family: var(--dm-sans);
    padding: 10px 15px;
    margin: 5px;
    border: 1px solid lightgrey;
    border-radius: 25px;
    font-size: 16px;
}

tr,
td,
th {
    font-size: 16px;
    text-align: left;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
}

a {
    font-weight: 500;
    color: var(--dark-pine-green);
    text-decoration: underline;
    &:hover {
        text-decoration: none;
    }
}

/* || SITEWIDE */
h2 {
    color: var(--forest-edge);
    font-size: 34px;
    font-weight: 500;
}

.sub-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0;
}

li > a {
    margin: 0 10px;
}

.logo {
    font-family: var(--dm-serif-dislay);
    color: var(--dark-pine-green);
}

[class*='btn'] {
    padding: 12px;
    border-radius: 25px;
    border: none;
    font-weight: 500;
    &:hover {
        filter: brightness(115%);
    }
}

.btn-green {
    background-color: var(--forest-edge);
    color: var(--white-desert);
}

.btn-dark-green {
    background-color: var(--dark-pine-green);
    color: var(--white-desert);
}

.search-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

div.search-bar > input {
    width: 85%;
}

div.search-bar > button {
    width: 10%;
    font-size: 16px;
    margin: 5px;
}

/* || Header and Main Navigation */
header,
nav {
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    width: 420px;
    align-items: center;
}

/* || Footer */
footer {
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 175px;
    background-color: var(--sweet-mint-tea);
}

footer,
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-links.no-bullets {
    width: 300px;
    font-size: 12px;
}

/* || Recipes */
.add-ingt-btn,
.remove-ingt-btn,
.remove-step-btn,
.add-step-btn {
    background-color: var(--roasted-sienna);
    color: var(--white-desert);
    font-size: 30px;
    width: 35px;
    min-width: 35px;
    height: 35px;
    padding: 0;
    margin: 5px;
}

.recipe-form,
.delete-form,
.inventory-form {
    padding-bottom: 30px;
}

.incl-add-btn {
    min-height: 164px;
    padding: 0;
}

.add-ingt-btn,
.add-step-btn {
    position: relative;
    left: 470px;
}

.recipe-container,
.serves-container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1500px;
    justify-content: left;
}

.ingredients-container,
.method-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1500px;
    min-height: 90px;
}

div.recipe-container > input {
    width: 400px;
}

.select-ingt {
    width: 600px;
}

.add-qty {
    width: 190px;
}

.ingt-info,
.method-step {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    max-width: 1500px;
}

.recipe-label,
.serves-label,
.ingts-label,
.method-label {
    display: flex;
    align-items: center;
    min-width: 150px;
    height: 40px;
    font-size: 20px;
    font-weight: 500;
    color: var(--forest-edge);
}

input.method-input {
    width: 100%;
    max-width: 800px;
}

.method-table td:nth-child(1) {
    width: 5%;
}

.method-table td:nth-child(2) {
    width: 85%;
}

.recipe-ingts-table th:nth-child(1) {
    width: 40%;
}

.recipe-ingts-table th:nth-child(2) {
    width: 40%;
}

.recipe-ingts-table th:nth-child(3) {
    width: 20%;
}

.recipes-index-table th:nth-child(1) {
    width: 75%;
}

.recipes-index-table th:nth-child(2) {
    width: 25%;
}

/* || Inventory */
.name-label,
.sku-label,
.qty-label {
    display: inline-block;
    min-width: 250px;
    height: 40px;
    font-size: 20px;
    font-weight: 500;
    color: var(--forest-edge);
}

div.sku-container > input,
div.name-container > input {
    width: 400px;
}

.inventory-index-table th:nth-child(1) {
    width: 60%;
}

.inventory-index-table th:nth-child(2) {
    width: 20%;
}

.inventory-index-table th:nth-child(2) {
    width: 20%;
}

/* || UTILITIES */
.no-bullets {
    list-style: none;
    margin: 0;
    padding: 0;
}

.line {
    width: 100%;
    height: 1px;
    background-color: lightgrey;
    margin: 10px 0;
}

.white-space {
    width: 150px;
    min-width: 150px;
}
