/* || Custom properties */
:root {
    --dark-pine-green: #182d32;
    --forest-edge: #617c6f;
    --sweet-mint-tea: #d4e5cf;
    --water: #d2f3fc;
    --roasted-sienna: #e87e5e;
    --white-desert: #fdfaf3;
    --dm-serif-dislay: 'DM Serif Display', serif;
    --dm-sans: 'DM Sans', sans-serif;
}

/* || General styles */
* {
    box-sizing: border-box;
}

body {
    background-color: var(--white-desert);
    font-family: var(--dm-sans);
    font-kerning: none;
    margin: 0 auto;
    height: 100%;
}

.page-container {
    position: relative;
    min-height: 100vh;
}

.content-wrap {
    padding-bottom: 175px;
}

h1 {
    font-size: 46px;
}

h3 {
    font-size: 28px;
    font-weight: 400;
}
h4 {
    font-size: 24px;
    font-weight: 500;
}

p {
    font-size: 18px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th,
table td {
    border: none;
    border-bottom: 1px solid lightgrey;
    padding: 8px;
    height: 60px;
}

input,
select {
    font-family: var(--dm-sans);
    padding: 10px 15px;
    margin: 0px;
    border: 1px solid lightgrey;
    border-radius: 25px;
    font-size: 18px;
}

tr,
td,
th {
    font-size: 18px;
    text-align: left;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
}

a {
    font-weight: 500;
    color: var(--dark-pine-green);
    text-decoration: underline;
    &:hover {
        text-decoration: none;
        cursor: pointer;
    }
}

/* || SITEWIDE */
h2 {
    color: var(--forest-edge);
    font-size: 38px;
    font-weight: 500;
}

.sub-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0;
}

li > a {
    margin: 0 10px;
}

.logo {
    font-family: var(--dm-serif-dislay);
    color: var(--dark-pine-green);
}

[class*='btn'] {
    padding: 12px 20px;
    margin: 0;
    border-radius: 25px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    &:hover {
        filter: brightness(125%);
    }
}

.btn-white {
    background-color: var(--white-desert);
    color: var(--dark-pine-green);
}

.btn-green {
    background-color: var(--forest-edge);
    color: var(--white-desert);
}

.btn-dark-green {
    background-color: var(--dark-pine-green);
    color: var(--white-desert);
}

.btn-red {
    background-color: var(--roasted-sienna);
    color: var(--dark-pine-green);
}

.btn-blue {
    background-color: var(--water);
    color: var(--dark-pine-green);
}

.search-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

div.search-bar > input {
    width: 85%;
}

div.search-bar > button {
    width: 10%;
    font-size: 18px;
    margin: 5px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 40px;
}

div.pagination > a,
div.pagination > span {
    width: 60px;
    margin: 20px;
}

/* || Header and Main Navigation */
header,
nav {
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    width: 550px;
    align-items: center;
}

/* || Footer */
footer {
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 175px;
    background-color: var(--sweet-mint-tea);
}

footer,
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-links.no-bullets {
    width: 450px;
    font-size: 14px;
}

/* || Home Page */
.extended-header-hero {
    height: 700px;
    background-image: url(/assets/background.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
}

.hero-text {
    display: flex;
    flex-direction: column;
    padding: 70px;
}

section.hero-text > h1 {
    display: flex;
    flex-direction: column;
    width: 800px;
    font-weight: 400;
}

section.hero-text > p {
    width: 500px;
    font-size: 20px;
    padding: 10px 0;
}

section.hero-text > form {
    padding: 10px 0;
}

.line-inplace {
    display: flex;
    align-items: center;
}

.hero-line {
    background-color: var(--dark-pine-green);
    width: 140px;
    height: 3px;
    margin-right: 10px;
    display: inline-flex;
}

section.recipes-home > div,
section.inventory-home > div,
section.production-home > div {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    text-align: left;
    padding: 0 125px;
    width: 50%;
}

.recipes-home,
.production-home,
.inventory-home,
.grow-home {
    height: 500px;
    display: flex;
}

.recipes-icon,
.production-icon,
.inventory-icon,
.grow-icon {
    width: 325px;
    height: min-content;
}

.home-icon-1 {
    background-color: var(--water);
    display: flex;
    align-items: center;
}

.recipes-text {
    background-color: var(--forest-edge);
    color: var(--white-desert);
}

.production-home {
    background-color: var(--roasted-sienna);
    background-image: url(/assets/freshco-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    color: var(--white-desert);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.inventory-text {
    background-color: var(--sweet-mint-tea);
}

.home-icon-3,
.inventory-icon {
    margin: 0 auto;
}

.grow-home {
    background-color: var(--dark-pine-green);
    color: var(--white-desert);
    justify-content: space-around;
}

.grow-text {
    margin: 100px;
    width: 375px;
}

.home-icon-4 {
    margin-bottom: -12px;
    overflow: hidden;
    display: flex;
    align-items: last baseline;
}

.get-started {
    background-color: var(--water);
    height: 240px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

section.get-started > h3 {
    width: 300px;
}

/* || Recipes */
.add-ingt-btn,
.remove-ingt-btn,
.remove-step-btn,
.add-step-btn {
    background-color: var(--roasted-sienna);
    color: var(--white-desert);
    font-size: 32px;
    width: 35px;
    min-width: 35px;
    height: 35px;
    padding: 0;
    margin: 5px;
}

.recipe-form,
.delete-form,
.inventory-form {
    padding-bottom: 30px;
}

.incl-add-btn {
    min-height: 164px;
    padding: 0;
}

.add-ingt-btn,
.add-step-btn {
    position: relative;
    left: 470px;
}

.recipe-container,
.serves-container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1500px;
    justify-content: left;
}

.ingredients-container,
.method-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1500px;
    min-height: 90px;
}

div.recipe-container > input {
    width: 400px;
}

.select-ingt {
    width: 600px;
}

.add-qty {
    width: 190px;
}

.ingt-info,
.method-step {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    max-width: 1500px;
}

.recipe-label,
.serves-label,
.ingts-label,
.method-label {
    display: flex;
    align-items: center;
    min-width: 150px;
    height: 40px;
    font-size: 22px;
    font-weight: 500;
    color: var(--forest-edge);
}

input.method-input {
    width: 100%;
    max-width: 800px;
}

.method-table td:nth-child(1) {
    width: 5%;
}

.method-table td:nth-child(2) {
    width: 85%;
}

.recipe-ingts-table th:nth-child(1) {
    width: 40%;
}

.recipe-ingts-table th:nth-child(2) {
    width: 40%;
}

.recipe-ingts-table th:nth-child(3) {
    width: 20%;
}

.recipes-index-table th:nth-child(1) {
    width: 75%;
}

.recipes-index-table th:nth-child(2) {
    width: 25%;
}

/* || Inventory */
.name-label,
.sku-label,
.qty-label {
    display: inline-block;
    min-width: 250px;
    height: 40px;
    font-size: 22px;
    font-weight: 500;
    color: var(--forest-edge);
}

div.sku-container > input,
div.name-container > input {
    width: 400px;
}

.inventory-index-table th:nth-child(1) {
    width: 60%;
}

.inventory-index-table th:nth-child(2) {
    width: 20%;
}

.inventory-index-table th:nth-child(2) {
    width: 20%;
}

.product-table td:nth-child(1) {
    width: 30%;
}

/* || Dashboard */
.dashboard-header {
    background-color: var(--roasted-sienna);
}

.dashboard-banner {
    display: flex;
    align-items: center;
    background-color: var(--roasted-sienna);
    height: 200px;
    width: 100%;
}

.welcome {
    font-weight: 400;
    font-size: 56px;
    margin: 0;
    margin: 30px;
    color: var(--white-desert);
}

span {
    font-weight: 700;
}

.wave-icon {
    width: 150px;
    height: 150px;
    margin: 30px;
    border: none;
}

.dashboard-links-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 400px;
    width: 100%;
}

.inventory-container,
.recipes-container,
.production-container {
    display: flex;
    flex-direction: column;
    padding: 50px;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    width: 33.333333%;
}

.inventory-container {
    background-color: var(--forest-edge);
    color: var(--white-desert);
    margin: 30px 15px 30px 30px;
}

.production-container {
    background-color: var(--water);
    margin: 30px 15px 30px 15px;
}

.recipes-container {
    background-color: var(--dark-pine-green);
    color: var(--white-desert);
    margin: 30px 30px 30px 15px;
}

.icon {
    border: 1px solid var(--sweet-mint-tea);
    border-radius: 50%;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-dark {
    border: 1px solid var(--dark-pine-green);
    border-radius: 50%;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div > img {
    width: 25px;
    height: auto;
}

/* || UTILITIES */
.main-margin {
    padding: 0 30px;
    max-width: 1560px;
    margin: 0 auto;
}

.no-bullets {
    list-style: none;
    margin: 0;
    padding: 0;
}

.no-underline {
    text-decoration: none;
}

.line {
    width: 100%;
    height: 1px;
    background-color: lightgrey;
    margin: 10px 0;
}

.white-space {
    width: 150px;
    min-width: 150px;
}
